header {
    color: rgb(71, 62, 62);
    font-size: 25px;
}

 header h1 {
    font-size: 50px;
    font-weight: 600;
 }

 header p {
    margin: 10px auto;
 }

 header a {
    color: white;
    margin: 5px auto 30px auto;
    padding: 10px 30px;
    display: inline-block;
    background-color: #b40c5a;
    border-radius: 5px;
 }

 li {
    list-style: none;
    color: #4e0d05;
    margin: 20px auto;
    padding: 30px 20px;
    background-color: rgb(226, 115, 101);
    border-radius: 7px;
    width: 400px;
}

ol h2 {
    font-size: 25px;
    font-weight: bold;
    /* margin: 15px auto; */
 }

 ol p {
    font-size: 23px;
    margin-top: 25px;
 }

 .hilighted {
    background-color: rgb(223, 136, 124);
 }