body{
    margin-top: 200px;
}

section ul {
    width: 90%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section img {
    height: 200px;
    width: 300px;
    object-fit: fill;
}