header {
    position: absolute;
    top: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

body {
    text-align: center;
}

#Hero {
    background-image: url(/images/ocean.jpg);
}